<div class="nav-items d-flex flex-column gap-3">
  <div class="nav-item">
    <i class="fa-solid fa-gauge"></i>
    <span>Dashborad</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-location-crosshairs"></i>
    <span>Locations</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-shop"></i>
    <span>Shops</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-boxes-stacked"></i>
    <span>Producs</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-money-bill"></i>
    <span>Sales</span>
  </div>
  <div class="nav-item">
    <i class="fa-regular fa-chart-bar"></i>
    <span>Statistics</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-address-book"></i>
    <span>Cotnact</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-hand"></i>
    <span>Help</span>
  </div>
</div>
