<div class="header py-4">

  <div class="container">

    <div class="d-flex justify-content-between align-items-center">

      <div class="logo fw-bold fs-4">Dashboard</div>

      <div class="user d-flex justify-content-center align-items-center gap-2">
        <div class="username">Phatma</div>
        <div class="userimage rounded-circle border border-2 border-white fw-bold d-flex justify-content-center align-items-center">
          <img class="userimage rounded-circle border border-2 border-white fw-bold d-flex justify-content-center align-items-center" src="./assets/images/photo_2022-04-06_00-28-07.jpg" alt="PH">
        </div>
      </div>

    </div>

  </div>

</div>
