.middle-section{
  .widget{
    height: 350px;
    background-color: #fff;
    box-shadow: 5px 5px 5px #939393;
  }
}

.bottom-section{
  .widget{
    height: 200px;
    background-color: #fff;
    box-shadow: 5px 5px 5px #939393;
  }
}
